Localization
{
	en-us
	{
	
        #autoLOC_Mkerb_Agents_Title			= Mkerb Inc.®
	
	
		#autoLOC_Mkerb_ABS_Title			= A.B.S.® device
		#autoLOC_Mkerb_ABS_Description		= This Alive Beep Signal device® is the first of its Kerbalkind from Mkerb Inc. It makes a beep sound if hard enough banged. It can be send to KSC to let them know that the probe is still alive. ATTENTION: Kerbal pressing the button not included!
        #autoLOC_Mkerb_ABS_Ex_Name			= Alive beep® test
		#autoLOC_Mkerb_ABS_Ex_Del			= Reset A.B.S.            
		#autoLOC_Mkerb_ABS_Ex_Coll			= Download A.B.S. Datastream    
		#autoLOC_Mkerb_ABS_Tags			= experiment research science alive beep sensor blip abs a.b.s. mkerb heartbeat sound bang pip sensor
		
		
		#autoLOC_Mkerb_Time_Title			= Liquid Time Experiment
		#autoLOC_Mkerb_Time_Description		= With this experiment Mkerb hopes to learn more about time in space and on Kerbin before our company goes bankrupt. Warranty void if used as wall clock!
		#autoLOC_Mkerb_Time_Ex_Name			= Start LT Experiment
		#autoLOC_Mkerb_Time_Ex_Del			= Reset Liqid Timer            
		#autoLOC_Mkerb_Time_Ex_Coll			= Download Datastream    
        #autoLOC_Mkerb_Time_Tags			= experiment research science mkerb time sensor lte liquid device drink clock
		
				
		#autoLOC_Mkerb_Rad_Title			= K. K. L.® Micro Radiation Device
		#autoLOC_Mkerb_Rad_Description		= The Kerbin Kolider Lerk is like a little LHC but small enough to fit in these casings. It bombards stuff with space radiation and tries to not explode. WARNING: Do not use as microwave!
        #autoLOC_Mkerb_Rad_Tags			= experiment research science mkerb kkl micro rad radiation mkerb device collider microwave sensor hardon
        #autoLOC_Mkerb_Rad_Ex_Name			= Observe Micro Radiation Device
		#autoLOC_Mkerb_Rad_Ex_Del			= Delete MRD Data            
		#autoLOC_Mkerb_Rad_Ex_Coll			= Download Datastream  
        
        
		#autoLOC_Mkerb_Sound_Title			= Kerbin Sound Experiment
		#autoLOC_Mkerb_Sound_Description		= It's not just a speaker and some leds. Its a very expensive pice of science. ATTENTION: Do not plug headphones in!
		#autoLOC_Mkerb_Sound_Tags			=experiment research science mkerb speaker sound kse sensor noise
        #autoLOC_Mkerb_Sound_Ex_Name			= Listen
		#autoLOC_Mkerb_Sound_Ex_Del			= Delete Soundwaves            
		#autoLOC_Mkerb_Sound_Ex_Coll			= Download Data
		
		
	}
}
